input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    margin: 0;
    padding: 10px 10px;
    width: 100%;
    @include remsize(font-size, 15px);
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #ccd1d9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold ;
    color: #434a54;

    &.error {
        border: 1px solid #fa8491;

        &:focus {
             border: 1px solid #fa8491;
        }
    }

    
}

label.error {
    /* Styling block element, not required */
    position: relative;
    display: block;
    margin-top: 1.25em;
    padding: 1em;
    font-size: 12px !important;
    border: 1px solid #fa8491;
    background: #ffedef;
    text-align:center !important;
    color:#c80d1f !important;
    

    /* Required for Top Triangle */
    &:before, &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-top: 0;  
    }
    /* Stroke */
    &:before {
        top: -11px;
        left: 45%;
        /* If 1px darken stroke slightly */
        border-bottom-color: #fa8491;
        border-width: 10px;
    }
    /* Fill */
    &:after {
        top: -9px;
        left: 45%;
        border-bottom-color: #ffedef;
        border-width: 10px;
    }
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}