<!-- Build Pack - Collation Screen  -->

<script>
  (function () {
    isLoggedInModule.init();

    /* Add a back link event here */
        $('.collation-back-link').on('click', function(e){
            e.preventDefault();
           
           _HistoryBackModule.init();

        });
  }());
</script>



<!-- Book Section - Top Level -->
<div class="row">
  <div class="container">
    <div class="col-md-12 back-link">
      <a href="#" class="collation-back-link" >
        <i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <button id="send-collation" class="btn btn-primary">Send for collation</button>
  </div>
</div>


<!-- XML Modal -->
<!-- Modal Disclaimer -->
<div id="xmlModal" class="m-modal">
  <div class="m-modal__table">
    <div class="m-modal__table-cell">
      <div class="m-modal__block container">
        <div class="m-modal__text">
          <h2>XML Data !</h2>
          <p>This is the data that will get sent to the printers</p>
          <div id="xml-content"></div>
          <div class="modal-action-btn">
            <button class="modal-action-btn__decline">Cancel</button>
            <button href="#" class="modal-action-btn__accept">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>