<!-- Terms and Conditions page -->
<div class="container">
    <a href="#" class="back-link">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>Back
    </a>
</div>

<div class="page-heading-block">
    <div class="row">
        <div class="container">
            <div class="col-md-11 col-md-offset-1">
                <h1 class="page-title">Cookie Policy</h1>
            </div>
        </div>
    </div>
</div>

<div class="page-content-block">
    <div class="row">
        <div class="container">
            <div class="col-md-11 col-md-offset-1">
                <h2>Introduction</h2>
                <p>
                    The website www.cerdelga.co.uk (the "Site") uses "cookies". Cookies are small text files
                    which are automatically placed on your computer by the internet browser when you visit the Site.
                    A cookie can, amongst other things, track the web pages you visit and the options you use.
                    Genzyme Therapeutics Limited part of the Sanofi group, ("Sanofi Genzyme", "we" or "us") uses
                    these data to make the Site more user-friendly and efficient. You can decline the use of these cookies,
                    but that may limit the functionality and ease of use of the Site
                </p>

                <h2>What Kind Of Cookies Do We Use</h2>
                <p>
                    Google Analytics: Via the Site a cookie is placed by the company Google as part of the service "Analytics".
                    We use this service to track and obtain reports on how visitors are using the Site. The information obtained with this cookie,
                    which includes the IP-address of your computer, will be transmitted to and stored by Google on servers in the United States.
                    Google may share that information with third parties if Google is obliged to do so by law or to the extent such third parties
                    are processing this information on behalf of Google. Sanofi Genzyme has no influence on this.
                </p>
                <p>
                    Last updated: November 2016 
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    (function(){        
         var stateOfEvent = history.state
         _FooterLinks.footerHistory(stateOfEvent);
    }());
</script>