<!-- Login Template -->
<!-- Login Details -->
<script type="text/javascript">
  (function () {
    'use strict';
    loginValidation.init();
    showPassword.init();
    _LoginModule.init();
    //Clearing the Session Storage on this page
    sessionStorage.clear();

    /*Remove the localstorage for bookscreator checkboxes sent for collation*/
    localStorage.removeItem("checkedBook");
  }());
</script>

<div class="login-section">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-6 col-md-offset-3">
          <div class="login-icon">
            <img src="/images/icons/login-icon.png" alt="Login Icon" title="Login Below" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-lg-6 col-md-offset-3">
          <div class="login-heading">
            <h2>Login To The Pack Creator</h2>
          </div>
        </div>
      </div>


      <div class="login-form">
        <form id="login" action="" autocomplete="off">
          <!-- Remove the Action from here - its just a static navigation to next page -->
          <div class="row">
            <div class="col-md-7 col-lg-6 col-md-offset-3">
              <fieldset>
                <div class="row">
                  <div class="col-md-4">
                    <label for="authEmail">
                      Email
                    </label>
                  </div>
                  <div class="col-md-8">
                    <input type="email" value="" id="authEmail" name="authEmail" autocomplete="off" />
                    <label id="verify-email" class="hide-me" for="authEmail">You need to verify your email before you can log in.</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label for="authPassword">
                      Password
                    </label>
                  </div>
                  <div class="col-md-8">
                    <div class="password-wrapper">
                      <input type="password" value="" id="authPassword" name="authPassword" autocomplete="off" />
                      <div class="show-wrapper">
                        <a href="#" class="show-btn">Show</a>
                        <a href="#" class="hide-btn">Hide</a>
                      </div>
                    </div>
                  </div>

                </div>
              </fieldset>
              <div>
                <button type="submit" class="login-btn disabled valid-fields" tabindex="2">Login</button>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-7 col-lg-6 col-md-offset-3">
            <div class="form-links">
              <a href="#" class="forgotten-password-btn">Forgotten Password</a>
              <a href="#" class="register-btn">Register Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="col-md-12">
            <div id="login-error-message">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  Panel Heading
                </div>
                <div class="panel-body">
                  Panel content
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>