<!-- PAM Explanation Screen -->
<script type="text/javascript">
    (function () {
        //isLoggedInModule.init();
        /* Add a back link event here */
        $('.pam-back-link').on('click', function(e){
            e.preventDefault();
           
           _HistoryBackModule.init();

        });
    }());
</script>
<div class="pam-top-half">
    <div class="row">
        <div class="container">
            <div class="col-md-12 back-pam-link">
                <a href="#" class="pam-back-link"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="pam-introduction">
                <h1>
                    Patient Activation Measure (PAM)<sup>&reg;</sup> Explanation
                </h1>
                <p>
                    Below you will find an explanation of each of the PAM<sup>&reg;</sup> levels and the patients perspective of their treatment and disease.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container level-container">
        <div class="pam-level-container">
            <div class="pam-level-table">

                <div class="container">
                    <!-- Level 1 -->

                    <div class="pam-level-cell">
                        <div class="pam-level-cell-border">
                            <div class="level-icon-block">
                                <img src="/images/icons/level-1-icon.png" alt="Level 1 Icon" />
                            </div>
                            <div class="level-title-block">
                                <h4>Level 1</h4>
                            </div>
                            <div class="level-content-block">
                                <h3>Disengaged and overwhelmed</h3>
                                <p>
                                    Individuals are passive and lack confidence. Knowledge of their disease is low and adherence to treatment tends to be poor.
                                </p>
                                <h4> Their perspective: </h4>
                                <blockquote>
                                    "My doctor is in charge of my health."
                                </blockquote>
                            </div>
                        </div>

                    </div>

                    <!-- Level 2 -->

                    <div class="pam-level-cell">
                        <div class="pam-level-cell-border">
                            <div class="level-icon-block">
                                <img src="/images/icons/level-2-icon.png" alt="Level 2 Icon" />
                            </div>
                            <div class="level-title-block">
                                <h4>Level 2</h4>
                            </div>
                            <div class="level-content-block">
                                <h3>Becoming aware, but still struggling</h3>
                                <p>
                                    Individuals have some knowledge, but large gaps remain.
                                    They believe health is largely out of their control,
                                    but can set simple goals.
                                </p>
                                <h4> Their perspective: </h4>
                                <blockquote>
                                    "I could be doing more."
                                </blockquote>
                            </div>
                        </div>
                    </div>


                    <!-- Level 3 -->

                    <div class="pam-level-cell">
                        <div class="pam-level-cell-border">
                            <div class="level-icon-block">
                                <img src="/images/icons/level-3-icon.png" alt="Level 3 Icon" />
                            </div>
                            <div class="level-title-block">
                                <h4>Level 3</h4>
                            </div>
                            <div class="level-content-block">
                                <h3>Taking action</h3>
                                <p>
                                    Individuals have the key facts and are building self-management skills.
                                    They strive for best practice behaviours and are goal-orientated.
                                </p>
                                <h4> Their perspective: </h4>
                                <blockquote>
                                    "I’m part of my health care team. "
                                </blockquote>
                            </div>
                        </div>
                    </div>


                    <!-- Level 4 -->

                    <div class="pam-level-cell">
                        <div class="pam-level-cell-border">
                            <div class="level-icon-block">
                                <img src="/images/icons/level-4-icon.png" alt="Level 4 Icon" />
                            </div>
                            <div class="level-title-block">
                                <h4>Level 4</h4>
                            </div>
                            <div class="level-content-block">
                                <h3>Maintaining behaviours and pushing further</h3>
                                <p>
                                    Individuals have adopted new behaviours, but may struggle in times of stress or change.
                                    Maintaining a healthy lifestyle is a key focus.
                                </p>
                                <h4> Their perspective: </h4>
                                <blockquote>
                                    "I’m my own advocate."
                                </blockquote>
                            </div>
                        </div>
                    </div>


                </div>
            </div> <!-- End of Pam-Level Table -->

        </div>
    </div>
</div>

