w<!-- Terms and Conditions page -->
<div class="container">
    <a href="#" class="back-link">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>Back
    </a>
</div>

<div class="page-heading-block">
    <div class="row">
        <div class="container">
            <div class="col-md-11 col-md-offset-1">
                <h1 class="page-title">Terms And Conditions</h1>
            </div>
        </div>
    </div>
</div>

<div class="page-content-block">
    <div class="row">
        <div class="container">
            <div class="col-md-11 col-md-offset-1">
                <h2>1. Introduction</h2>
                <p>
                    The website cerdelga.co.uk (the “Site”) has been developed and is operated by Genzyme Therapeutics Limited, part of the Sanofi group, (“Sanofi Genzyme”, “we” or “us”). We are registered in England and Wales under company number 04316333 and have our registered office at 4620 Kingsgate, Cascade Way, Oxford Business Park South, Oxford, Oxfordshire, OX4 2SU. Our VAT number is GB 246 0798 43.
                    These terms and conditions apply to your use of the Site. By your access and use of the Site you accept these terms and conditions. If you do not agree with any of the terms and conditions, or if the Site is not intended for you (see Section 2), please refrain from using the Site. Sanofi Genzyme reserves at any time the right to modify these terms and conditions and to impose new or additional terms or conditions on your use of the Site, without prior notice. Such modifications and additional terms and conditions will be effective immediately and incorporated into these terms and conditions. We therefore advise you to consult them regularly for up-dates by checking the “Last Updated” date at the foot of these terms and conditions.
                </p>

                <h2>2. Intended Audience And Content</h2>

                <p>
                    This site (apart from the home and non-healthcare professionals pages, which are intended for residents of the UK and ROI) is intended for healthcare professionals working in the field of Gaucher disease. The Site provides information on CERDELGA as well as access to various support services designed for healthcare professionals (collectively “Support Services”).
                    Sanofi Genzyme reserves the right, in its sole discretion, to terminate, change, suspend or discontinue, at any time, without notice or liability, the Site or any aspect thereof.
                </p>

                <h2>3. Intellectual Property</h2>
                <p>
                    The Site and any associated intellectual property rights such as copyrights, author’s rights, patents, database rights, trademarks, designs, logos, know-how, confidential information, domain names and all other intellectual property rights (whether registered or not) contained in the Site are protected by applicable laws on intellectual property, and are owned by Sanofi Genzyme or its affiliated companies, or their use is the subject of an authorisation. The same applies in respect of support tools, newsletters, brochures and any other type of information, documentation or content that is provided in the context of Support Services, regardless of the way of distribution and the medium used (collectively “Support Materials”).
                    No component of the Site or the Support Materials may be copied, reproduced, altered, edited, downloaded, denatured, transmitted or distributed in any way whatsoever, on any medium whatsoever, in whole or in part, without the prior written consent of Sanofi Genzyme. You may, however, print and, where appropriate, download Support Materials and other information from the Site for your own, personal, non-commercial use.
                    The following statement should appear on any authorised copy of Site content or Support Materials: “COPYRIGHT 2016 - Genzyme Therapeutics Limited - ALL RIGHTS RESERVED”.
                    Any authorised use of items composing or shown on the Site must not be denatured, changed or altered in any way whatsoever.
                    Sanofi Genzyme or its affiliated companies reserve the right to take legal action against any breach of its intellectual property rights.

                </p>

                <h2>4. Nature Of Information</h2>
                <p>
                    Information, especially financial, published on the Site shall not be considered as an encouragement to invest. It should not under any circumstances be interpreted as prospecting or as a public offering, nor is it an offer to subscribe, buy or swap shares or other securities in Sanofi and/or its subsidiaries concerned. Sanofi Genzyme draws your attention to the fact that financial information posted on the Site is regularly updated (if financial information is provided on-line).
                    The Site may offer opinions by experts consulted in a particular field in relation to the content of the Site or excerpts from press articles. Any such information solely represents the opinion of the expert consulted or the publication, and is not necessarily the opinion of the Sanofi group. Any such experts are not employees of the Sanofi group and do not receive any emoluments in exchange for us using their opinion. We are not responsible for the accuracy or completeness of any such information and opinions. Experts’ opinions reflect their own personal views and should never be interpreted as being the opinion or responsibility of the Sanofi group.
                    The Site also includes information on health, physical condition, the medical field and medical treatments solely for human use. This information is published on the Site for information purposes only and should not be used under any circumstances to make a medical diagnosis of an illness or physical problem, or for prescribing or using drugs presented on the Site.
                </p>

                <h2>5. Links To Other Sites</h2>
                <p>
                    Sanofi Genzyme and its affiliated companies do not accept liability for damages resulting from your use of a third party site that can be accessed via the Site. We do not have any way of controlling the content of such third party sites which remain entirely independent of Sanofi Genzyme. Moreover, the existence of a link between the Site and a third party site does not under any circumstances mean that Sanofi Genzyme approves the content of that site in any way whatsoever and in particular the use that may be made of it.
                    External sites may include hyperlinks leading to the Site. Any such hyperlink should not be created without the express prior consent of Sanofi Genzyme. In any case, Sanofi Genzyme is not in any way liable for the non-availability of such external sites and Sanofi Genzyme does not review, control, or approve them and is not responsible for content, advertising, products or other materials available on or accessible via those sites.
                </p>

                <h2>6. Personal Information And Other Information</h2>

                <h2>6.1</h2>
                <p>
                    Except as provided in our Privacy Policy, Sanofi Genzyme will not disclose to third parties personal data about you that you may convey to it by e-mail. It will only be used with a view to providing you with an answer as effectively as possible.
                    In accordance with the Data Protection Act 1998 in England and Wales, you have the right to access, alter, rectify and delete personal data that concerns you. To do so, request as follows:<br />
                    On-line: <a href="mailto:info@gaucherlife.co.uk">info@gaucherlife.co.uk</a><br />
                    By post:<br />
                    Commercial Services Manager<br />
                    Genzyme Therapeutics Limited<br />
                    4620 Kingsgate<br />
                    Cascade Way<br />
                    Oxford Business Park<br />
                    Oxford, OX4 2SU<br />
                </p>

                <h2>6.2</h2>
                <p>
                    The Site is not intended to receive confidential information from you. Consequently, and except for personal data mentioned above, any information, whatever its form - document, data, graphic, question, suggestion, concept, comment or other - that you send us via the Site will not under any circumstances be deemed confidential. Consequently, the act of sending it to us alone gives us the right to use it, reproduce it, publish it, alter it or send it with a view to dealing with your request.
                </p>

                <h2>7. Disclaimer And Limitations On Liability</h2>
                <p>
                    Sanofi Genzyme shall make all reasonable efforts to ensure that information published on the Site is accurate and up-to-date. It reserves the right to correct content at any time, without prior notice. However, Sanofi Genzyme does not guarantee that such information is accurate, correct, up-to-date or complete.
                    Except for direct property damage resulting from gross or intentional negligence by Sanofi Genzyme, Sanofi Genzyme shall not be liable in tort (including negligence), contract, breach of statutory duty or otherwise for:
                </p>
                <p>
                    any damages resulting from any inaccuracy, error or omission as regards information published on the site;
                </p>

                <p>
                    any damages resulting from fraudulent intrusion by a third party resulting in an alteration of information or items that are made available on the Site or provided as part of the Support Services;
                </p>

                <p>
                    and more broadly, for any damage, indirect or consequential loss (including but not limited to any loss of income or revenue; loss of business; loss of profits or contracts; loss of anticipated      b      savings; loss of data; loss of goodwill or wasted management or office time), for any reason, of any origin, nature or with any consequences whatsoever, even if Sanofi Genzyme had been warned    of the possibility of such damage or loss, caused (i) because of any access to the Site or because it was impossible to access the Site or the Support Materials (ii) because of the use of the Site,    including any bug, virus or other harmful element that may infect your computer system or any other property, and/or (iii) because of the credence given to any information coming directly or            indirectly from the Site or the Support Materials.
                    Your use of the Site and the Support Services offered is at your own risk. The components of the Site or of any other site are provided “as is” without any representation, warranty, or guarantee of any kind, whether express or implied (including without limitation with respect to quality, fitness for a particular purpose, accuracy, title or non-infringement).    
                </p>
                <p>
                    Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.
                </p>

                <h2>8. Privacy</h2>
                <p>Sanofi Genzyme respects the privacy of every individual who visits the Site. Please see our Privacy Policy, by clicking here. The Privacy Policy explains your rights and our responsibilities with respect to personal data collected via the Site.</p>

                <h2>9. Cookies</h2>
                <p>The Site makes use of “cookies” to optimize the use of the Site and improve our services to you. Click here for more information. </p>

                <h2>10. Availability Of The Site</h2>
                <p>
                    You acknowledge that (i) it is technically impossible for Sanofi Genzyme to ensure that the Site will be absolutely free from any defect and that Sanofi Genzyme cannot undertake to do so; (ii) defects may lead to the Site being temporarily unavailable; and (iii) operation of the Site can be affected by events and/or matters that Sanofi Genzyme does not control, such as, for example, transmission and communication links between you and Sanofi Genzyme and between Sanofi Genzyme and other systems or networks.
                    Sanofi Genzyme and/or its suppliers may, at any time, alter or interrupt, temporarily or permanently, all or part of the Site to undertake maintenance and/or make improvements and/or changes to the Site. Sanofi Genzyme is not responsible for any alteration, suspension or interruption of the Site.
                </p>

                <h2>11. Viruses, Hacking And Other Offences</h2>
                <p>
                    You must not misuse the Site by knowingly introducing viruses, Trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which the Site is stored or any server, computer or database connected to the Site. You must not attack the Site via a denial-of-service attack or a distributed denial-of-service attack.
                    By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Site will cease immediately.
                    We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Site or to your downloading of any material posted on it, or on any website linked to it.

                </p>

                <h2>12. Information On Products</h2>
                <p>
                    Information included and published on the Site may include direct or indirect references to products, programmes and services of the Sanofi group that are not announced or available in some countries or some regions or that may be supplied under a different name and may be subject to regulations and terms of use that differ depending on the country. Such references do not mean that the Sanofi group intends to sell those products, programmes or services in your country. Refer to the local Sanofi subsidiary or your Sanofi sales partner for any group information about the products, programmes and services available to you.
                </p>

                <h2>13. General Information</h2>
                <p>
                    a. Publisher of the Site: Genzyme Therapeutics Limited,<br/>
                    4620 Kingsgate<br />
                    Cascade Way<br />
                    Oxford Business Park<br />
                    Oxford, OX4 2SU<br />
                </p>

                <p>
                    b. Head of Publication:<br />
                    Head of Marketing, Rare Diseases,<br />
                    Genzyme Therapeutics Ltd<br />
                    4620 Kingsgate<br />
                    Cascade Way<br />
                    Oxford Business Park<br />
                    Oxford, OX4 2SU<br />
                </p>

                <p>
                    c. Site hosting:<br/>
                    Aventis Pharma Limited trading as Sanofi<br/>
                    One Onslow Street<br/>
                    Guildford<br/>
                    Surrey<br/>
                    GU1 4YS<br/>
                </p>

                <h2>14. Photo/Video Credits</h2>
                <p>
                    Photo credits – Genzyme Corporation<br/>
                    Copyright &copy; 2016 Genzyme Therapeutics Limited. All rights reserved
                </p>

                <h2>15. Severability</h2>
                <p>
                    If any provision of these terms and conditions is held by a court of competent jurisdiction to be invalid, such provision shall be reformed to as nearly as possible approximate the intent of the parties and all other provisions shall remain in full force and effect.
                </p>

                <h2>16. Applicable Law</h2>
                <p>
                    The Site and its content are governed by the laws of England and Wales, and any disputes relating thereto are subject to the exclusive jurisdiction of the English courts.
                </p>
                <p>
                    Last updated: November 2016 
                </p>

            </div>
        </div>
    </div>
</div>


<script>
    (function(){        
         var stateOfEvent = history.state
         _FooterLinks.footerHistory(stateOfEvent);
    }());
</script>