@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/App/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/App/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/App/fonts/MaterialIcons-Regular.woff) format('woff'), url(/App/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
//TODO TEST with GOOGLE HOSTING BUT WITH CSS CLASS

/* Font Declaration */

@font-face {
    font-family: 'cabin-regular';
    src: url('/App/fonts/Cabin-Regular.eot#') format('eot'),
        url('/App/fonts/Cabin-Regular.woff') format('woff'),
        url('/App/fonts/Cabin-Regular.ttf') format('truetype'),
        url('/App/fonts/Cabin-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cabin-bold';
    src: url('/App/fonts/Cabin-Bold.eot#') format('eot'),
        url('/App/fonts/Cabin-Bold.woff') format('woff'),
        url('/App/fonts/Cabin-Bold.ttf') format('truetype'),
        url('/App/fonts/Cabin-Bold.svg') format('svg');
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: 'changa-bold';
    src: url('/App/fonts/Changa-Bold.eot#') format('eot'),
        url('/App/fonts/Changa-Bold.woff') format('woff'),
        url('/App/fonts/Changa-Bold.ttf') format('truetype'),
        url('/App/fonts/Changa-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


// Defining Fonts to be used 
$primary-regular-font : 'cabin-regular', Georgia, sans-serif;
$primary-bold-font:'cabin-bold', Georgia, sans-serif;
$secondary-bold-font: 'changa-bold', Georgia, sans-serif;




