//Login Screen

.login-section {
    width: 100%;
    padding: 90px 0;

    .login-icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }

    .login-heading {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .login-form {
        fieldset {
            border: none;
            margin: 0;
            margin-bottom: 30px;
            padding: 20px;
            background: #f5f8fa;
        }

        .row {
            margin-bottom: 10px;
        }


        label {
            display: block;
            padding-top: 0.75em;
            @include remsize(font-size, 15px);
            color: #434a54;
        }

        input {
            display: inline-block;
            vertical-align: middle;

            &:focus {
                border: 1px solid #7F8893;
                outline: none;
            }
        }

        .password-wrapper {
            display: block;
            width: 100%;
            font-size: 0; // To get all the inline-elements next to each other without having few pixel gap between them
            position: relative;


            input#authPassword {
                width: 100%;
                height: 47px;
                background: #fff;
                border-right: none;

                &:focus {
                    border: 1px solid #7F8893;
                    outline: none;

                    + .show-wrapper {
                        border: 1px solid #7F8893;
                    }
                }

                @include breakpoint($large) {
                    width: 100%;
                }

                &.error {
                    + label + .show-wrapper {
                        border: 1px solid #fa8491;
                    }
                }
            }

            .show-wrapper {
                display: inline-block;
                width: 63px;
                height: 47px;
                padding: 12px 0;
                text-align: center;
                background: #fff;
                border: 1px solid #ccd1d9;
                vertical-align: middle;
                position: absolute;
                top: 0;
                right: 0;
            }

            .show-btn {
                display: block;
                text-align: center;
                width: 100%;
                text-transform: uppercase;
                text-decoration: none;
                color: #468be6;
                font-weight: normal;
                @include remsize(font-size, 12px);

                &:hover {
                    color: #468be6;
                    text-decoration: none;
                }

                &:focus {
                    border: none;
                    outline: none;
                }
            }

            .hide-btn {
                @extend .show-btn;
                padding-top: 1px;
                display: none;
            }
        }

        
    }

    .form-links {
        display: block;
        width: 100%;
        padding-top: 56px;
        text-align: center;

        a {
            padding-right: 18px;
            text-decoration: underline;
            @include remsize(font-size, 15px);

            &:hover {
                color: #2E6Fc4;
            }

            &:last-child {
                padding: 0;
            }

            i {
                font-weight: normal;
                padding-right: 4px;
                color: #5d9cec;
            }
        }
    }
}

button[type="submit"] {
            -webkit-appearance: none;
            border: none;
            text-align: center;
            display: block;
            width: 100%;
            margin: 0 auto;
            outline: 0;
            background: #468be6;
            color: #fff;
            @include remsize(font-size, 16px);
            padding: 12px;

            &:hover {
                background: #2E6FC4;
            }

            &.disabled {
                cursor: not-allowed;
                pointer-events: none;
                background: #f0f3f6;
                color: #7f8893;

                &:hover {
                    background: #f0f3f6;
                }
            }
        }

//Verify Email label
#verify-email {
    @extend label.error;
    &.hide-me {
        display: none;
    }
}

#login-error-message {
    display: none;
    margin-top: 1em;

    .panel-body div {
        max-width: 30%;
        margin: 0 auto;
    }
}

.loading {
    margin: 0 auto;
    text-align: center;
}