//Modal Disclaimer - to Move into its own partial sass
// This is a prototype of Module

// Prefix "m-"
//A Module with BEM Method - SASS

/** Block **/
/* .m-accordian {} */

/** Element - Child Element of Block **/
/* .m-accordian__trigger {} */

/** Modifier - Variant of Block  **/
/* .m-accordian--orange {} */

/* Nest only the Modifiers */
/* .m-accordian {
         .m-accordian--orange {
            }
        }
*/

/********************************************/
/* HTML MARKUP */

/*<div class="m-modal">
    <div class="m-modal__table">
      <div class="m-modal__table-cell">
        <div class="m-modal__block container">
          <p class="m-modal__text">
             Aenean lacinia bibendum nulla sed consectetur.
             Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.
             Donec ullamcorper nulla non metus auctor fringilla.
          </p>
         </div>
      </div>
    </div>
  </div>
  <button class="modal-trigger">Bring up that Modal</button>
*/

/********************************************/

.m-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgba(0,0,0,0.95);
    -moz-transition: .2s opacity ease-in-out;
    -o-transition: .2s opacity ease-in-out;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
    z-index: 200;

    &.activate {
        opacity: 1;
    }
}

.m-modal__table {
    display: table;
    width: 100%;
    height: 100%;
    -moz-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
    /* Top Animation */
    &.top {
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    /* Right Animation */
    &.right {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    /* Bottom Animation */
    &.bottom {
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    /* Top Animation */
    &.left {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.m-modal__table-cell {
    display: table-cell;
    vertical-align: middle;
}

.m-modal__block {
    padding: 1em !important;
    background: #fff;

    &.container {
        @include breakpoint($tablet) {
            max-width: 600px;
        }
    }
}

.m-modal__text {
    text-align: center;
    padding: 10px;

    h2 {
        @include remsize(font-size, 22px);
        color: #434a54;
    }

    p {
        margin: 6px 0 20px;
    }

    button.modal-action-btn__decline {
        -webkit-appearance: none;
        border: none;
        outline: none;
        background: none;
        color: #468be6;
        text-decoration: underline;
        font-size: 16px;
    }

    button.modal-action-btn__accept {
        -webkit-appearance: none;
        border: none;
        outline: none;
        background: #468be6;
        color: white;
        padding: 10px 20px;
        margin-left: 20px;
    }
}

.m-modal-no-show {
    text-align: center;
    margin-top: 30px;
    margin-left: -18px;
    margin-right: -18px;
    border-top: 1px solid #ccd1d9;
    padding: 10px;
    padding-bottom: 0;
}

.modal-action-btn {
    //display: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
/****** Disclaimer Modal ******/
.m-modal--disclaimer {
    .m-modal-action-btn {
        display: block;
    }
}

//Preview Modal
.preview-modal {
    @extend .m-modal;
}

.preview-modal__table {
    @extend .m-modal__table;
    display: block;
    text-align: center;
}

.preview-modal__table-cell {
    @extend .m-modal__table-cell;
    display: inline-block;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.preview-modal__block {
    @extend .m-modal__block;
    max-width: 100% !important;
    padding: 0;
    width: 100%;
    //height: 742px; // Height of PDF file 
}

.preview-modal__text {
    @extend .m-modal__text;
    padding: 0;
    max-height: 595px;
}

.preview-modal-close {
    display: block;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background: #468be7 url('/images/icons/icon-close.png') no-repeat 50% 50%;
    background-size: auto;
    position: absolute;
    top: -80px;
    right: -60px;
}

.preview-modal-title {
    display: inline-block; 
    padding: 10px 15px; 
    background: #656d78; 
    color: #fff;
    @include remsize(font-size, 16px);
    position: absolute;
    top: -80px;
    left: 0;
}

.preview-modal-title-index {
    display: block;
    text-align: left;
    @include remsize(font-size, 12px);
}

.preview-nav {
    position: absolute;
    top: 45%;    
    cursor: pointer;
    color: #fff;

    &.disabled {
        pointer-events: none;
        color: #808080;
    }
}

#previous {
    left: -50px;
}

#next{
    right: -50px;
}
