.pages {
    //padding-top: 75px !important;
    .page-heading-block {
        background: #f0f3f6;
        margin-bottom: 30px;
        .page-title {
            @include remsize(font-size, 30px);
            padding: 30px 0;
        }
    }
    .page-content-block {
        p {
            font-weight: normal;
            @include remsize(font-size, 14px);
            line-height: 1.6;
            color: #7f8893;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        h2 {
            margin: 0;
            padding: 0;
            margin-top: 40px;
            @include remsize(font-size, 22px);
            color: #434a54;
        }
        h3 {
            @include remsize(font-size, 17px);
            color: #434a54;
            margin: 0;
            margin-top: 25px;
        }
        p.strong {
            color: #656d78;
        }
        strong {
            color: #656d78;
        }
        .black {
            color: #000;
        }
        .justify {
            text-align: justify;
        }
        .bordered {
            border: 1px solid #000;
            text-align: center;
            padding: 0.75em 0;
            p {
                display: block;
                margin: 0 auto;
                max-width: 700px;
            }
        }
    }
}