 <div class="login-section">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-6 col-md-offset-3">
                        <div class="login-icon">
                            <img src="/images/icons/forgotten-icon.png" alt="Forgotten Password Icon" title="Forgotten Password" />
                        </div>
                    </div>
                </div>


                <div class="forgotten">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 col-md-offset-3">
                            <div class="login-heading">
                                <h2>Forgotten Password</h2>
                            </div>
                        </div>
                    </div>

                    <div class="login-form">
                        <form id="forgotten-password" action="">
                            <!-- Remove the Action from here - its just a static navigation to next page -->
                            <div class="row">
                                <div class="col-md-7 col-lg-6 col-md-offset-3">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="email-forgotten">
                                                    Email
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="email" value="" id="email-forgotten" name="email-forgotten"/>
                                            </div>
                                        </div>

                                    </fieldset>
                                    <div>
                                        <button type="submit" class='request-pwd-btn disabled'>Request new password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-7 col-lg-6 col-md-offset-3">
                                <div class="form-links">
                                    <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to login</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="container">
                                <div class="col-md-7 col-lg-6 col-md-offset-3">
                                    <div id="login-error-message">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                Panel Heading
                                            </div>
                                            <div class="panel-body">
                                                Panel content
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Show this Div on success -->
                <div class="forgotten-success">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 col-md-offset-3">
                            <div class="success-heading">
                                <h2>Forgotten Password Request Sent</h2>
                            </div>

                            <h5>Please check your email and follow the steps to reset your password.</h5>
                            <p>If you do not see the email please check your ‘Junk’ inbox.</p>

                            <div class="back-login">
                                <a href="#">Back to login</a>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>

<!-- Forgotten Password Screen -->
<script type="text/javascript">
  (function () {
    'use strict';
    loginValidation.forgottenValidate($('#forgotten-password'));

    $("#forgotten-password input").on('keyup', function () {
            loginValidation.enableMe($('#forgotten-password'));
        });
    showPassword.init();

    //Forgotten page success back to login button 
    $('.back-login a').on('click', function(e){
        e.preventDefault();
        window.location= "/";
    });

    /* For Back button */
    $('.form-links a').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      _TemplateLoader.init('login');
    });

    /* Reset Password Post */
    $('.request-pwd-btn').on('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        _ForgottenPassword.forgotPasswordRequest();
    });




  }());
</script>