<!-- PAM Choice -->
<script type="text/javascript">
	(function () {
		isLoggedInModule.init();
		pamSurveyDisclaimer.init();
	}());
</script>

<div class="pam-choice">
	<div class="pam-choice-title">
		<h1>Where would you like to start?</h1>
	</div>

	<div class="choice-warning pam-create hide-me">
		<p>
			Taking the Patient Activation Measure <sup>&reg;</sup> (PAM) survey with your patient ensures you keep up to date with their engagement with Cerdelga
			<sup>&reg;</sup> and their disease.
		</p>
		<a href="#" class="warning-noshow pam-warning-button">Don't show me this again</a>
	</div>

	<div class="pam-choice-container row ">
		<div class="pam-choice-select col-md-6">
			<a href="#" class="pam-choice-content select-questionnaire">
				<div class="choice-icon-container">
					<div class="choice-icon pam-only">
						<!-- Background Sprite for hover effect -->
					</div>
				</div>
				<div class="choice-title">
					<p>
						Take the PAM
						<sup>&reg;</sup> test only
					</p>
				</div>
			</a>
		</div>
		<div class="pam-choice-select col-md-6">
			<a href="#" class="pam-choice-content select-bookcreator">
				<div class="choice-icon-container">
					<div class="choice-icon create-pack">
						<!-- Background Sprite for hover effect -->
					</div>
				</div>
				<div class="choice-title">
					<p>Create a pack</p>
					<p>
						(including optional PAM
						<sup>&reg;</sup>)
					</p>
				</div>
			</a>
		</div>
	</div>

	<div class="info-panel">
		<p class="info-text">
			You can create a pack now but the delivery time will be delayed until your treatment centre details have been reviewed and
			approved. In the meantime you can download and print the pack for your patient.
		</p>
	</div>

	<div class="pam-activation-details">
		<p>
			Insignia Health. Patient Activation Measure
			<sup>&reg;</sup>; Copyright &copy; 2003-2016, University of Oregon. All Rights reserved. To license, contact
			<a href="http://www.insigniahealth.com"
			  target="_blank">Insignia Health</a> at
			<a href="mailto:info@insigniahealth.com">info@insigniahealth.com</a>
		</p>
	</div>
</div>