<!-- Terms and Conditions page -->
<div class="container">
    <a href="#" class="back-link">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>Back
    </a>
</div>

<div class="page-heading-block">
    <div class="row">
        <div class="container">
            <div class="col-md-11 col-md-offset-1">
                <h1 class="page-title">UK Prescribing Information</h1>
            </div>
        </div>
    </div>
</div>

<div class="page-content-block">
    <div class="row">
        <div class="container">
            <div class="col-md-11 col-md-offset-1">
                <p class="justify">
                    <strong>Cerdelga <span class="black">&#9660;</span> 84 mg (eliglustat) hard capsules</strong>
                    Please refer to the Summary of Product Characteristics (SmPC) before prescribing. <strong>Presentation:</strong> Each capsule contains 84.4 mg of eliglustat (as tartrate).
                    <strong>Indication:</strong> Cerdelga is indicated for the long-term treatment of adult patients with Gaucher disease type 1 (GD1), who are CYP2D6 poor metabolisers (PMs), intermediate metabolisers (IMs) or extensive metabolisers (EMs).
                    <strong>Dosage and administration:</strong> Therapy with Cerdelga should be initiated and supervised by a physician knowledgeable in the management of Gaucher disease. The recommended dose is 84 mg eliglustat twice daily in CYP2D6 intermediate metabolisers (IMs) and extensive metabolisers (EMs) and 84 mg once daily in CYP2D6 poor metabolisers (PMs). If a dose is missed, the prescribed dose should be taken at the next scheduled time; the next dose should not be doubled.
                    Cerdelga is to be taken orally, swallowed whole, preferably with water, and should not be crushed, dissolved, or opened. The capsules may be taken with or without food. Consumption of grapefruit or its juice should be avoided.
                    <strong>Special populations: <em>CYP2D6 ultra-rapid metabolisers (URMs) and indeterminate metabolisers:</em></strong> Cerdelga should not be used. <strong><em>Patients with hepatic impairment:</em></strong> Not studied in this group. Therefore, no dose recommendations can be made. <strong><em>Patients with renal impairment:</em></strong> Not studied in this group. Therefore, no dose recommendations can be made. <strong><em>Elderly patients (≥65 years):</em></strong> No significant differences were found in the efficacy and safety profiles of elderly patients and younger patients. <strong><em>Paediatric population:</em></strong> No data are available.
                    <strong>Contra-indications:</strong> Hypersensitivity to the active substance or to any of the excipients. This product contains lactose. Patients with rare hereditary problems of galactose intolerance, Lapp lactase deficiency or glucose-galactose malabsorption should not take this medicine. Patients who are CYP2D6 intermediate metabolisers (IMs) or extensive metabolisers (EMs) taking a strong or moderate CYP2D6 inhibitor concomitantly with a strong or moderate CYP3A inhibitor, and patients who are CYP2D6 poor metabolisers PMs) taking a strong CYP3A inhibitor. Use of Cerdelga under these conditions results in substantially elevated eliglustat plasma concentrations.
                    <strong>EDUCATIONAL GUIDANCE:</strong> Prior to prescribing Cerdelga, physicians must familiarise themselves with educational materials which consist of a Guide to the Prescriber and they should provide their patients with a <em>Patient Alert Card</em>. <strong>Warnings and Precautions: <em>Initiation of therapy: CYP2D6 genotyping:</em></strong> Before initiation of treatment, patients should be genotyped for CYP2D6 to determine the CYP2D6 metaboliser status. <strong><em>Concomitant use and Drug Interaction:</em></strong> Eliglustat is metabolised primarily by CYP2D6 and to a lesser extent by CYP3A4.
Concomitant administration of substances affecting CYP2D6 or CYP3A4 activity may alter eliglustat plasma concentrations. Eliglustat is an inhibitor of P-gp and CYP2D6 in vitro; concomitant administration of eliglustat with P-gp or CYP2D6 substrate substances may increase the plasma concentration of those substances. Cerdelga is contraindicated in patients who are CYP2D6 intermediate metabolisers (IMs) or extensive metabolisers (EMs) taking a strong (e.g. paroxetine, fluoxetine, quinidine) or moderate (e.g. duloxetine, terbinafine) CYP2D6 inhibitor concomitantly with a strong (e.g. clarithromycin, itraconazole) or moderate (e.g. erythromycin, fluconazole) CYP3A inhibitor. Cerdelga is contraindicated in patients who are CYP2D6 poor metabolisers (PMs) taking a strong CYP3A inhibitor. Use of Cerdelga with strong CYP3A inducers substantially decreases the exposure to eliglustat, which may reduce the therapeutic effectiveness of eliglustat; therefore concomitant administration is not recommended.
                    <strong>Agents that may increase eliglustat exposure: <em>CYP2D6 inhibitors (In intermediate (IMs) and extensive metabolisers (EMs))</em></strong>:When a strong CYP2D6 inhibitor (e.g. paroxetine, fluoxetine, quinidine, bupropion) is used concomitantly, a dose of eliglustat 84 mg once daily should be considered. Caution should be used with moderate CYP2D6 inhibitors (e.g. duloxetine, terbinafine, moclobemide). <strong><em>CYP3A inhibitors (In intermediate (IMs) and extensive metabolisers (EMs)):</em></strong> Caution should be used with strong CYP3A inhibitors (e.g. clarithromycin, ketoconazole, itraconazole). Caution should be used with moderate CYP3A inhibitors (e.g. erythromycin, ciprofloxacin, fluconazole, diltiazem, verapamil, cimetidine). <strong><em>CYP3A inhibitors (In poor metabolisers (PMs)): </em></strong>The use of strong CYP3A inhibitors is contraindicated. Use of a moderate CYP3A inhibitor with eliglustat is not recommended. Caution should be used with weak CYP3A inhibitors (e.g. amlopidine, cilostazol, fluvoxamine, goldenseal, isoniazid, ranitidine, ranolazine).
                    <strong><em>CYP2D6 inhibitors used simultaneously with CYP3A inhibitors (In intermediate (IMs) and extensive metabolisers (EMs)):</em></strong> The use of a strong or moderate CYP2D6 inhibitor concomitantly with a strong or moderate CYP3A inhibitor is contraindicated. Grapefruit products contain one or more components that inhibit CYP3A and can increase plasma concentrations of eliglustat. Consumption of grapefruit or its juice should be avoided.
                    <strong>Agents that may decrease eliglustat exposure: <em>Strong CYP3A inducers (In intermediate (IMs), extensive metabolisers (EMs) and poor metabolisers (PMs)):</em></strong> Use of a strong CYP3A inducer (e.g. rifampicin, carbamazepine, phenobarbital, phenytoin, rifabutin and St. John’s wort) with eliglustat is not recommended.
                    <strong>Agents whose exposure may be increased by eliglustat: <em>P-gp substrates:</em></strong> Lower doses of substances which are P-gp substrates (e.g. digoxin, colchicine, dabigatran, phenytoin, pravastatin) may be required. <strong><em>CYP2D6 substrates:</em></strong> Lower doses of medicinal products that are CYP2D6 substrates e.g. metoprolol may be required. These include certain antidepressants (tricyclic antidepressants, e.g. nortriptyline, amitriptyline, imipramine, and desipramine), phenothiazines, dextromethorphan and atomoxetine.
                    The list of substances mentioned above is not an inclusive list and the prescriber is advised to consult the SmPC of all other prescribed medicinal products for potential drug-drug interactions with eliglustat.
                    <strong>Patients with pre-existing cardiac conditions:</strong> Because eliglustat is predicted to cause mild increases in ECG intervals at substantially elevated plasma concentrations, use of Cerdelga should be avoided in patients with cardiac disease (congestive heart failure, recent acute myocardial infarction, bradycardia, heart block, ventricular arrhythmia), long QT syndrome, and in combination with Class IA (e.g. quinidine) and Class III (e.g. amiodarone, sotalol) antiarrhythmic medicinal products. <strong>Monitoring of clinical response:</strong> Some treatment-naïve patients showed less than 20% spleen volume reduction (sub-optimal results) after 9 months of treatment. For these patients, monitoring for further improvement or an alternative treatment modality should be considered. For patients with stable disease who switch from enzyme replacement therapy to eliglustat, monitoring for disease progression (e.g. after 6 months with regular monitoring thereafter) should be performed for all disease domains to evaluate disease stability. Reinstitution of enzyme replacement therapy or an alternative treatment modality should be considered in individual patients who have a sub-optimal response.
                    <strong>Fertility, Pregnancy and lactation: <em>Pregnancy:</em></strong> There are no or limited amount of data from the use of eliglustat in pregnant women. Animal studies do not indicate direct or indirect harmful effects with respect to reproductive toxicity.
                    As a precautionary measure, it is recommended to avoid the use of Cerdelga during pregnancy. <strong><em>Breast-feeding:</em></strong> It is unknown whether eliglustat or its metabolites are excreted in human milk. Available pharmacodynamics / toxicological data in animals have shown excretion of eliglustat in milk. A risk to the newborns/ infants cannot be excluded. A decision must be made whether to discontinue breast-feeding or to discontinue/abstain from Cerdelga therapy taking into account the benefit of breast-feeding for the child and the benefit of therapy for the woman. <strong><em>Fertility:</em></strong> Effects on testes and reversible inhibition of spermatogenesis were observed in rats. The relevance of these findings for humans is not known.
                    <strong>Undesirable effects:</strong> The majority of adverse reactions are mild and transient. The most commonly reported adverse reaction with Cerdelga is dyspepsia, in approximately 6% of the patients. The most frequently reported serious adverse reaction in clinical studies was syncope (0.8%). The following overall adverse reaction profile of is based on pooled results from two pivotal phase 3 studies, one 8-year, long term phase 2 study and one supporting phase 3b study Headache, dizziness, palpitations, dyspepsia, abdominal pain upper, diarrhoea, nausea, constipation, abdominal pain, gastroesophageal reflux disease, abdominal distension, gastritis, arthralgia and fatigue. For further information on adverse reactions, please refer to the SmPC.
                    <strong>Legal classification:</strong> POM (Prescription only medicine).<br/>
                    <strong>List Price:</strong>  £19,165 per 56 capsule pack.<br/>
                    <strong>Marketing Authorisation Number:</strong> EU/1/14/974/001 (56 capsules), EU/1/14/974/002 (196 capsules), EU/1/14/974/003 (14 capsules).
                    <strong>Marketing Authorisation Holder:</strong> Genzyme Europe B.V., Gooimeer 10, NL-1411 DD Naarden, The Netherlands.
                    <strong>Further information is available from Genzyme Therapeutics Ltd, 4620 Kingsgate, Cascade Way, Oxford Business Park South, Oxford OX4 2SU.</strong>
                    <strong>Date of Preparation:</strong> September 2017.
                </p>

                <div class="bordered">
                    <p class="center">
                        <span class="black">&#9660;</span> Adverse events should be reported. Reporting forms and information can be found at <a href="http://www.mhra.gov.uk/yellowcard" target="_blank">www.mhra.gov.uk/yellowcard</a> Adverse events should also be reported to Sanofi Tel: 0800 0902314.<br/> Alternatively, send via E-mail to <a href="mailto:UK-drugsafety@sanofi">UK-drugsafety@sanofi.com</a></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function(){        
         var stateOfEvent = history.state
         _FooterLinks.footerHistory(stateOfEvent);
    }());
</script>