<!-- Welcome Screen -->
<script type="text/javascript">
    (function () {
        'use strict';
        isLoggedInModule.init();
        welcomeSlide.init();
        $('.back-link').on('click', function(e){
          history.back();
          
         
        });

    }());
</script>
<div class="welcome-screen">
    <a href="#" class="back-link">back link</a>
    <div class="welcome-screen-wrapper">
        <!--Screen 1-->
        <div class="welcome-slide active" data-id="screen-1">
            <div class="container">
                <h2>Welcome To The Personalised Cerdelga<sup>&reg;</sup> (eliglustat) Patient Support Pack Creator</h2>
                <p>
                    Using this website you will be able to create a personalised patient support pack for your patients who have been prescribed Cerdelga<sup>&reg;</sup>.
                </p>  

                <img src="/images/icons/welcome-1.png" alt="Welcome Screen 1" />
            </div>
        </div>

        <!--Screen 2-->
        <div class="welcome-slide" data-id="screen-2">
            <div class="container">
                <h2>The Patient Activation Measure<sup>&reg;</sup> (PAM<sup>&reg;</sup>)</h2>
                <p>
                    The Patient Activation Measure<sup>&reg;</sup> uses 10 questions to determine a patient's engagement and participation level with their treatment. The answers they provide will determine their level, from disengaged (Level 1) to activated (Level 4). Using this result Cerdelga<sup>&reg;</sup> Life allows you to tailor the information you give your patients about their condition and treatment.
                </p>
                <img src="/images/icons/welcome-2.png" alt="Welcome Screen 2" />
                <p>
                    Insignia Health. Patient Activation Measure®; Copyright © 2003-2016, University of Oregon. All Rights reserved
                    To license, contact <a href="mailto:info@insigniahealth.com">Insignia Health</a> at info@insigniahealth.com
                </p>

                <a href="#" class="pam-explanation-link">What are the PAM® levels?</a>
            </div>
        </div>

        <!--Screen 3-->
        <div class="welcome-slide" data-id="screen-3">
            <div class="container">
                <h2>Creating The Personalised Patient Support Pack</h2>
                <p>
                   Cerdelga<sup>&reg;</sup> patient support content is categorised into 5 main sections, each with sub sections. The information is filtered based on the patient’s engagement level, and you can select content relevant to their needs, giving your patients a truly personalised experience that will aid their understanding of their disease and treatment with Cerdelga<sup>&reg;</sup>. The information is filtered based on the patient's PAM level but can also be tailored according to your professional judgement of the patient's needs. This personalisation of information will help your patients to understand more about Cerdelga<sup>&reg;</sup> and Gaucher. 
                </p>
                <img src="/images/icons/welcome-3.png" alt="Welcome Screen 3" />
            </div>
        </div>

        <!--Screen 4-->
        <div class="welcome-slide" data-id="screen-4">
            <div class="container">
                <h2>Select The Pack Delivery Options</h2>
                <p>
                    Cerdelga<sup>&reg;</sup> patient support packs can either be delivered to the patient's home address or directly to your treatment centre.
                </p>
                <img src="/images/icons/welcome-4.png" alt="Welcome Screen 4" />
                <p>
                    <a href="#" class="no-show-slide">Don’t show me these welcome screens again</a>
                </p>
            </div>
        </div>
    </div>

</div>

<!-- Slides Navigation -->
<div class="welcome-controls">
    <div class="welcome-dots">
        <ol>
            <li>
                <input type="radio" name="screen-dots" id="screen-1" checked="checked" />
                <label for="screen-1"></label>
            </li>
            <li>
                <input type="radio" name="screen-dots" id="screen-2" />
                <label for="screen-2"></label>
            </li>
            <li>
                <input type="radio" name="screen-dots" value=" " id="screen-3" />
                <label for="screen-3"></label>
            </li>
            <li>
                <input type="radio" name="screen-dots" value=" " id="screen-4" />
                <label for="screen-4"></label>
            </li>
        </ol>
    </div>

    <div class="welcome-nav">
        <ul>
            <li class="back">
                <a href="#" class="welcome-btn">
                    Back
                </a>
            </li>
            <li class="next">
                <a href="#" class="welcome-btn">
                    Next
                </a>
            </li>
            <li class="finish">
                <a href="#" class="welcome-btn finish">
                    Finish
                </a>
            </li>
        </ul>
    </div>



</div>